<div class="container middle">
  <div class="content">
    <section id="AboutUs">
          <div class="img">
            <img src="/assets/images/img1.jpg" alt="">
          </div>
          <div class="text">
            <h4> NOSOTROS SOMOS <br> PREATSA </h4>
            <p> Somos una compañía que presta servicios de Alquiler de maquinaria, servicios de excavación, movimientos de tierra, reparación y mantenimientos, adicional tenemos una línea de negocio de control de material articulado y estabilización de suelos. <br> Ofrecemos servicios que ayudan a nuestros clientes  cumplir sus objetivos, siempre haciéndolo bajo criterios de rentabilidad, seguridad, rapidez, calidad y compromiso. </p>
            <p class="vision"> Queremos ser una empresa referente en los sectores de la construcción y ambiental  como confiable, comprometida, innovadora e integral, siempre ofreciendo  nuevas soluciones para nuestros clientes</p>
          </div>
    </section>

    <section id="Services">
          <h4> Nuestros Servicios <br> Incluyen </h4>
          <div class="row">
            <div class="col-sm-6">
              <div class="card equipo">
                <div class="card-body">
                  <h5 class="card-title"> <img src="/assets/images/crane.png" alt=""> Equipos </h5>
                  <p class="card-text">
                    <ul>
                      <li>
                        <span> Alquiler de maquinaria pesada y liviana. </span>
                        <ul>
                          <li> Equipos de izaje: Los mejores equipos para el levantamiento y posicionamiento de cargas sobre bases; según los requerimientos del proyecto estos equipos son móviles o estáticos. </li>
                          <li> Maquinaria de obra:  Vías, Excavación y Movimiento de tierras </li>
                          <li> Construcción: Acondicionamiento de Terreno, Bodegas y Acueductos. </li>
                        </ul>
                      </li>
                      <li> Transporte de maquinaria pesada y liviana. </li>
                      <li> Servicios de excavación y movimientos de tierra. </li>
                      <li> Realización de construcciones, mantenimientos y montajes de obras civiles. </li>
                      <li> Construcción y mantenimientos de infraestructura vial </li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card ambiental">
                <div class="card-body">
                  <h5 class="card-title"> <img src="/assets/images/worldwide.png" alt=""> Medioambientales </h5>
                  <p class="card-text">
                    <ul>

                      <li> Control de material particulado </li>
                      <li> Estabilización de suelos </li>
                      <li> Dragado de río y mar </li>
                      <li> Limpieza de Rios y Mar </li>

                    </ul>
                  </p>
                </div>
              </div>
              <img src="/assets/images/logonav.png" alt="" class="logo">
            </div>

          </div>
    </section>
  </div>
</div>
