<section id="Contact">
  <div class="container">
    <span> Contactanos </span>
    <h1> (035) 3482261 - 318 7725925 </h1>
    <h4> Carrera 31B Via Juan Mina, Barranquilla, Atlántico, Colombia </h4>
    <h4> <a href="mailto:preatsa@outlook.com"> preatsa@outlook.com </a> </h4>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="logo">
      <img src="/assets/images/logonav.png" alt="">
    </div>

    <span> © 2018 Preatsa, Todos los derechos reservados. </span>
  </div>
</section>
