#gallery {
  .container {
    background-color: #6b6969bd;
  }

  .carousel-item {
    height: 600px;
    overflow: hidden;
    img {
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
}
