#Services {
  border-top: 1px solid #ededed;

  h4{
    padding-left: 15px;
    border-left: 2px solid #F17C08;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: 0 0 40px;
    text-transform: uppercase;
  }

  h5 {
    font-family: 'Dosis', sans-serif;

    img {
      width: 40px;
      margin-right: 20px;
    }
  }

  .logo {
    width: 80%;
    display: block;
    margin: 40px auto 0;
  }

  .card {
    cursor: pointer;

    p  {
      font-weight: 100;
    }
  }

  .ambiental, .equipo  {
    background: url("/assets/images/white.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .50s
  }


  .ambiental:hover {
    background: url("/assets/images/ambiental.png");
    background-repeat: no-repeat;
    background-size: cover;
    .card-title {
      text-decoration: underline;
    }

  }

  .equipo:hover {
    background: url("/assets/images/equipo.png");
    background-repeat: no-repeat;
    background-size: cover;
    .card-title {
      text-decoration: underline;
    }
  }

}
